form{
 border: 1px solid black; 

   
}
.container{
        max-width: 400px;
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;/
        
        /* background-color: #f9f9f9; */
      
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
.firstCont{
    padding: 10px;
    
}
.form-group {
    margin-bottom: 15px;
  }
.paswwordDisplay{
    background-color:#308D46;
    padding: 13px 10px;
    color: #fff;
    margin-bottom: 15px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    color: whiteq;
}