form{
 /* box-shadow: 1px 2px 9px red; */
 border-radius: rem; 
 background: burlywood;
}

*{
    background: rgb(219, 214, 207);

}
.cont{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}
.container{
    background: rgb(167, 110, 37);
    border-radius: 1rem;
        max-width: 400px;
        margin: 20px;
        padding: 15px;
        border: 1px solid #c71919;/
        
        /* background-color: #f9f9f9; */
      
}
h5{
    color: #c71919;
    font-size: 30px;
    text-align: center;
    padding: 1rem 0;

}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
.firstCont{
    padding: 10px;
    
}
.form-group {
    margin-bottom: 15px;
}
#password-strength{
    width: 12rem;
    border: none;
    border-radius: .5rem;
    background-color: white;
}

.paswwordDisplay{
    background-color:#308D46;
    padding: 13px 10px;
    color: #fff;
    margin-bottom: 15px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    color: whiteq;
}
button{
    padding: .6rem;
    cursor: pointer;
    border-radius: 2rem;
    border: none;
    color: white;
    background: #c71919;
}


.form-group{
    display: flex;
    gap: .5rem;
}
.formBtn{
    padding: 1rem;
    display: flex;
    justify-content: center;
}